# Database Configuration
MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=BackEndDb
MYSQL_USER=backend_user
MYSQL_PASSWORD=backend_pass123

# JWT Configuration
JWT_KEY=eKpRMXpZ4JQcrle/alQdRqt+32Gwo0f7zX8GygX6jCQ=
JWT_ISSUER=BackEndAPI
JWT_AUDIENCE=BackEndClient
